.header {
    grid-area: header;
    background: darkcyan;
}

.loginBlock {
    float: right;
    background: white;
}

.userPic {
    width: 50px;
    height: 50px;
}

.appLogo {
    float: left;
}

.logoImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
